<h1>Sessions#login</h1>
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>

<%#= form_with(model: @user) do |f| %>
<%= form_for @user, url: create_session_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.submit "Login" %>
<% end %>